
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
.env
venv/
.env.*


staticfiles/
media/


postgres_data/


celerybeat-schedule

node_modules/
dist/
dist-ssr/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

frontend/.env
backend/.env

.vscode/
.idea/
.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.pid
docker-compose.override.yml

extension/*.pem